@font-face{
    font-family: Pixeled;
    src: url("Pixeled.ttf")
}
html{
    font-family: Pixeled;
    width: 100%;
    height: 100%;
    background-color: rgb(109, 156, 156);
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    width: 100%;
    height: 100%;
    max-width: 975px;
    max-height: 650px;
    background-color: rgb(109, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    width: 33%;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow:  10px 10px  #646161;
    background-color: rgb(255, 255, 255);
    border-width: 5px;
    border-style: solid;
}
.inputForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.alert{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.inputName{
    display: flex;
    flex-direction: column;
    font-family: Pixeled;
    font-size: 8px;
    text-align: center;
    margin-top: 15px;
    width:80%;
    border-color: rgb(169, 164, 170);
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    height: 30px;
}
.inputButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border-style: none;
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: Pixeled;
    width: 40%;
    height: 30%;
}

/*
----------------avatars-----------------------------------------
*/
.containerTwo{
    width: 70%;
    height: 70%;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-column-gap:2% ;
    grid-template-rows: 17% 40% 40%;
    grid-row-gap: 2%;
}
.chooseAlert{
    grid-area: 1/ 1/ 1/ 3;
    width: 98%;
    height: 60%;
    border-style: solid;
    border-color: black;
    background-color: white;
    padding: 5px;
    text-align: center;
}
.alien{
    background-image: url(imgs/alien.png);
    background-color:  rgba(159, 189, 142, 0.781);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-style: solid;
    border-color:rgb(0, 0, 0);
    border-width: 5px;
    box-shadow:  -10px -10px  #646161;
    width:90%;
    margin: 5%;
    height: auto;
    padding:10px;
    grid-area:2 /1 /2 /1;
}
.boy{
    background-image: url(imgs/boy.png);
    background-color:  rgba(159, 189, 142, 0.781);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-style: solid;
    border-color:rgb(0, 0, 0);
    border-width: 5px;
    box-shadow:  10px -10px  #646161;
    width:90%;
    margin: 5%;
    height: auto;
    padding:10px;
    grid-area:2 /2 /2 /2;
}
.smiley{
    background-image: url(imgs/smiley.png);
    background-color:  rgba(159, 189, 142, 0.781);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-style: solid;
    border-color:rgb(0, 0, 0);
    border-width: 5px;
    box-shadow:  -10px 10px  #646161;
    width:90%;
    margin: 5%;
    height: auto;
    padding:10px;
    grid-area:3 /1 /3 /2;
}
.illum{
    background-image: url(imgs/illum.png);
    background-color:  rgba(159, 189, 142, 0.781);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-style: solid;
    border-color:rgb(0, 0, 0);
    border-width: 5px;
    box-shadow:  10px 10px  #646161;
    width:90%;
    margin: 5%;
    height: auto;
    padding:10px;
    grid-area:3 /2 /3 /2;
}
.chosenAvatarImage{
    background-color:  rgba(159, 189, 142, 0.781);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-style: solid;
    border-color:rgb(0, 0, 0);
    border-width: 5px;
    box-shadow:  10px 10px  #646161;
    width:90%;
    margin: 5%;
    height: 80%;
    padding:10px;
    grid-area:2 /1 /3 /2;
}
.toBattleScreen{
    z-index: 0;
    display: grid;
    width:80%;
    height: 80%;
    background-color: white;
    border-style: solid;
    border-color:rgb(0, 0, 0);
    border-width: 5px;
    box-shadow:  10px 10px  #646161;
    grid-template-columns: 49% 49%;
    grid-template-rows: 49% 49%;
    grid-gap:.5%;
    z-index: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.alertTwo{
    display: flex;
    flex-direction: column;
    z-index: 5;
    position: absolute;
    width: 90%;
    height: 90%;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-style: solid;
    border-color:rgb(0, 0, 0);
    border-width: 5px;
    box-shadow:  10px 10px  #646161;
}
.toBattleButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: black;
    color: white;
    border-style: none;
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: Pixeled;
    width: 40%;
    height: 30%;
}
.OneOne{
    grid-area: 1/1/1/1;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;

}
.OneTwo{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    grid-area: 1/2/1/2;
    background-image: url(imgs/pc.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: auto 95%;
    background-position: center center;
    width: 100%;
    height: 100%;

}
.TwoOne{
    grid-area: 2/1/2/1;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}
.TwoTwo{
    grid-area: 2/2/2/2;
    width: 100%;
    height: 100%;
    padding: 1%;
    margin: 1%;   
}
.TwoTwo p{
    border-style: solid;
    border-color:black;
    border-width: 5px;
    box-shadow:  10px 10px  #646161;
    width: 88%;
    padding: 2%;
}
.scoreBoard{
    background-color:rgb(0, 0, 0);
    color: white;
    width: 80%;
    height: 60%;
    border-style: solid;
    border-color:rgb(255, 255, 255);
    border-width: 5px;
    box-shadow:  10px 10px  #646161;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.weaponButtons{
    border-style: solid;
    border-color:rgb(255, 255, 255);
    border-width: 5px;
    box-shadow:  5px 5px  #646161;
    background-color: black;
    color: white;
    border-style: none;
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: Pixeled;
    font-size: 70%;
    margin: 2%;
    width: 25%;
    height: 20%;
    
}
.resultAlert{
    display: flex;
    flex-direction: column;
    z-index: 5;
    grid-area: 1/1/ span2 / span2;
    height: auto;
    padding: 2%;
    align-self: center;
    justify-self: center;
    text-align: center;
    background-color: white;
    border-style: solid;
    border-color:rgb(0, 0, 0);
    border-width: 5px;
    box-shadow:  10px 10px 50px #646161, -10px -10px 50px #646161;
}
.resultAlertButton{
    border-style: solid;
    border-color:rgb(255, 255, 255);
    border-width: 5px;
    background-color: black;
    color: white;
    border-style: none;
    font-family: Pixeled;
    font-size: 70%;
    text-align: center;
    width: 25%;
    height: 20%;
    margin-top: 2%;
    align-self: center;
    
}

@keyframes fadein{
    from {
        width: 0;
        height: 0;
        opacity: 0.8;
    }

    to{
        width:90%;
        height: 90%;
    }
}

.alienWinnerScreen{
    z-index: 5;
    background-image: url(imgs/alien_win.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 90%;
    position: absolute;
    animation: fadein 3s;
}
.smileyWinnerScreen{
    z-index: 5;
    background-image: url(imgs/smiley_win.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 90%;
    position: absolute;
    animation: fadein 3s;
}
.boyWinnerScreen{
    z-index: 5;
    background-image: url(imgs/boy_win.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 90%;
    position: absolute;
    animation: fadein 3s;
}
.illumWinnerScreen{
    z-index: 5;
    background-image: url(imgs/illum_win.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 90%;
    position: absolute;
    animation: fadein 3s;
}
.pcWinnerScreen{
    z-index: 5;
    background-image: url(imgs/pc_won.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 90%;
    position: absolute;
    animation: fadein 3s;
}
